* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-section {
    width: 100%;
    padding: 20px;
}

#quiz {
    background: #ffffff;
    max-width: 520px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 30px 55px rgba(0, 0, 0, 0.8);
}

.question {
    font-size: 38px;
    margin-bottom: 15px;
    color: #333;
    font-weight:bolder;
}

ul {
    list-style: none;
    margin: 15px 0;
}

ul li {
    margin-bottom: 12px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.answer {
    margin-right: 10px;
}

label {
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.btn {
    text-align: center;
    margin-top: 15px;
}

#submit {
    background: #2575fc;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#submit:hover {
    background: #1a5edb;
}

\hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 15px 0;
}
